<style>
  .title {
    background-color: green;
    color: white;
    text-align: center;
    border: 3px outset white;
  }

</style>
<style type="text/css">
  body {background: lightblue !important;}
</style>
<p id="notice"><%= notice %></p>

<div class="title">
 <h1> Tennis Matches </h1>
</div>

<div class="container" style = "border:3px outset black;">
  <table>
    <thead>
      <tr>
        <th style="font-size:125%">Opponent</th>
        <th></th>
        <th style="font-size:125%">Score</th>
        <th></th>
        <th style="font-size:125%">Location</th>
        <th></th>
        <th style="font-size:125%">Notes</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @matches.each do |match| %>
        <tr>
          <td><%= match.opponent %></td>
          <td></td>
          <td><%= match.score %></td>
          <td></td>
          <td><%= match.location %></td>
          <td></td>
          <td><%= match.notes %></td>
          <td><div class='btn-group'><%= link_to 'Show', match, :class => "btn btn-outline-primary" %></div></td>
          <% if user_signed_in? %>
          <td><div class='btn-group'><%= link_to 'Edit', edit_match_path(match), :class => "btn btn-outline-primary" %></div></td>
          <td><div class ='btn-group'><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-primary" %></div></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<div class='container' style="text-align:center">
  <% if user_signed_in? %>
    <div class='btn-group'><%= link_to 'New Match', new_match_path, :class => "btn btn-outline-secondary" %> </div>
  <% end %>
</div>
