<!DOCTYPE html>
<html>
  <head>
    <title>Cs3300project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <style>
    .title {
      color: white;
      font_size: 300%;
    }

  </style>
<style type="text/css">
  body {background: lightblue !important;}
</style>

  <body>
  <nav class='navbar' style ="background-color: green;">
    <div class="nav navbar-nav navbar-center">
      <a class="navbar-brand mb-0 title" href="#">Tennis Matches</a>
    </div>
      <div class="float-right">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <div class='btn-group'> <%= link_to 'Edit profile', edit_user_registration_path, :class => "btn btn-dark" %> </div> |
        <div class='btn-group'> <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => "btn btn-dark" %> </div>
      <% else %>
        <div class='btn-group'> <%= link_to "Sign up", new_user_registration_path, :class => "btn btn-dark" %> </div> |
        <div class='btn-group'> <%= link_to "Login", new_user_session_path, :class => "btn btn-dark" %> </div>
      <% end %>
      </div>
  </nav>
    <%= yield %>
  </body>
</html>
